apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo2-deployment
  labels:
    app: label2-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: label2-deployment
  template:
    metadata:
      labels:
        app: label2-deployment
    spec:
      containers:
       - name: demo2-deployment
         image: amanpreetk/myapp:latest
         ports:
          - containerPort: 8080
         volumeMounts:
          - name: app-properties-script-volume
            mountPath: "/tmp"
            readOnly: true
      volumes:
        - name: app-properties-script-volume
          configMap:
            name: app-properties-script
            items:
              - key: application.properties
                path: application.properties
